DUMP_DATABASE=<DUMP_DATABASE>
DUMP_PGSCHEMA=<DUMP_PGSCHEMA>
DUMP_PGHOST=<DUMP_PGHOST>
DUMP_PGPORT=<DUMP_PGPORT>
DUMP_PGUSER=<DUMP_PGUSER>
DUMP_PGPASSWORD=<DUMP_PGPASSWORD>

TABLENAME=<TABLENAME>

RESTORE_DATABASE=<RESTORE_DATABASE>
RESTORE_PGSCHEMA=<RESTORE_PGSCHEMA>
RESTORE_PGHOST=<RESTORE_PGHOST>
RESTORE_PGPORT=<RESTORE_PGPORT>
RESTORE_PGUSER=<RESTORE_PGUSER>
RESTORE_PGPASSWORD=<RESTORE_PGPASSWORD>