DUMP_DATABASE=<DUMP_DATABASE>
RESTORE_DATABASE=<RESTORE_DATABASE>

TABLENAME=<TABLENAME>

PGSCHEMA=<PGSCHEMA>
PGHOST=<PGHOST>
PGPORT=<PGPORT>
PGUSER=<PGUSER>
PGPASSWORD=<PGPASSWORD>
DUMPFILE=<DUMPFILE>
